# pip requirements file
numpy
scipy
matplotlib
cffi
itk
sphinx
pynrrd
progressbar2
h5py
scikit-image
SimpleITK
tensorboardX
future
pandas
openpyxl
blosc
ants
#https://github.com/ANTsX/ANTsPy/releases/download/v0.1.4/antspy-0.1.4-cp36-cp36m-linux_x86_64.whl
nibabel
webcolors
gdown
