# pip requirements file
numpy
scipy
matplotlib
cffi
itk
sphinx-gallery==0.3.1
sphinx
nbsphinx
pynrrd
progressbar2
h5py
scikit-image
SimpleITK
tensorboardX
future
pandas
openpyxl
blosc
ants
nibabel
webcolors
torch
torchvision
sklearn
gdown
nose
